body {
  background-image: url("Images/canvas.jpg");
  background-repeat: no-repeat; 
  background-size: cover;
  background-attachment: fixed;
}

header {
  font-size: 100px;
  font-family: Helvetica;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url("images/pattern.jpeg");
  border-radius: 25px;
  margin-top: -4%;
  margin-bottom: 40px;

}

nav {
  display: flex;
  justify-content: space-evenly;
  border: dashed;
  font-size: 25px;
  margin: 50px 50px;
  background-color: khaki;
  opacity: 10%;
}

#brushes {
  background-color: mediumspringgreen;
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  border-radius: 25px;
  padding-left: 10px;
}

span {
  color: blue;
  font-family: Helvetica;
  font-weight: bold;
}

#frames {
  background-color: coral;
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  border-radius: 25px;
  padding-left: 10px;
}

h3 {
  font-family: Helvetica;
}

#paint {
  background-color: skyblue;
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
  border-radius: 25px;
  padding-left: 10px;
}

img {
  border-radius: 10px;
}

footer {
  position: absolute;
  width: 100%;
  text-align: center;
  background-color: lightblue;
  font-family: Helvetica;
  color: white;
  margin-left: -1%;
  margin-right: 100%;
  padding: 3px 15px;
  margin-top: 50px;
 
}

.year {
  font-family: Helvetica;
  color: goldenrod;
  font-weight: lighter;
}

.shadow  {
  text-shadow: 1px 1px 2px black, 0 0 25px white, 0 0 5px tan;
  font-size: 20px;
}

article, a:link {
  color: coral;
  text-decoration: none;
} 
article, a:visited {
  text-decoration: none;
  color: coral; 
}
article, a:hover {
  color: gray;
  text-decoration: none;
 }

